/* Master Styles */
body {
  margin: 0px;
  font-family: 'Prata', serif;
  background-color: #7700b3;

}

.container{
  display: grid;
  grid-template-columns: 1fr;
  background-color: #cc99ff;
}

/* Navbar Styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.brand div{
  font-size: 20px;
}
 .brand-socials a{
  float: right;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  width: 15%;

}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/* Portfolio Styles */

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  letter-spacing: 1px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
}

.img-text-wrapper .subtitle a{
  transition: 1s;
  color: transparent;
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}

.img-text-wrapper:hover .subtitle {
  color: #cc66ff;
  font-weight: 600;
}

.img-text-wrapper:hover .subtitle a{
  color: #cc66ff;
  font-weight: 600;
}


/* About Page */
.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #7700b3;

}

.profile-image-wrapper img{
  float: left;
  border-radius: 8px;
  height: 100%;
  width: 50%;

}

.profile-content-wrapper {
  padding: 30px;
  color: #cc66ff;

}

.profile-content-wrapper h1 {
  color: white;

}

.profile-content-wrapper p{
  text-indent: 25px;
}
